.compareFoodsParentDiv {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 80vh;

}

h3 {
    color: #ba2e2c;
}

.compareFoodsDiv {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.compareFoodIndDiv {
    max-width: 50%;
    flex: 2 2 auto;
    width: min-content;
    inline-size: min-content;
    height: min-content;
    block-size: min-content;
}

.compareListItem {
    margin: 3px;
    padding: 8px;
    width: 20%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.chartDiv {
    position: relative;
    box-sizing: border-box;
    padding: none;
    margin: none;
    display: inline-flex;
    max-height: 45%;
    min-height: 400px;
    flex: 1 1 auto;
    width: min-content;
    inline-size: min-content;
    height: min-content;
    block-size: min-content;
}

.viewRemoveBtnsDiv {
    position: relative;
    left: 90%;
    top: 30%;
    z-index: 1;
    width: 30px;
    height: 100px;
}



.chartItem {
    display: inline-block;
    width: 70px;
    height: 40px;
    font-size: 1.8rem;
    color: rgba(.2, .2, .2, .2);
    background-color: none;
    padding: none;
    margin: none;

}

.chartItem:hover {
    color: rgba(.4, .4, .4, .4);

}

.compareFoodNutrientBtns {
    position: absolute;
    top: 30%;
    left: 80%;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: space-around;
    align-items: start;
    flex: 0 0 auto;
}