
.displayFoodLayoutMain{
   display: grid;
   display: grid;
    grid-template-columns: 1fr 1fr 60% 1fr;
    grid-template-rows:  8% 70% 1fr;
  
}


.chartDiv{
    grid-row: 2/3;
    grid-column: 3;
    min-height: 800px;
    min-width: 100%;
    z-index: 2;
}

.toggleDataBtnsDiv{
   align-items: flex-start;
}

.setDisplayBtn{
    grid-column: 4;
    grid-row: 2;
}

.foodInfoDiv{
    grid-row: 2/3;
    grid-column: 1;
}

.nutritionFactsDiv{
    grid-row: 2/3;
    grid-column: 2;
}

.foodDisplaySaveBackBtnsDiv{
    display: inline-flex;
    position: absolute;
    bottom: 0;
    left: 17vw;
    justify-content: space-between;
    width: 28vw;
    padding-bottom: 2%;
    align-items: end;
}

.toggleDataBtnsDiv{
    margin-top: 5vh;
    grid-column: 4;
    grid-row: 2/3;
}



#addCompareBtn{
    width: 10vw;
}


.displayFoodDescription{
    font-weight: bold;
    font-size: 1.5rem;
    grid-row: 1;
    grid-column-start: 1;

}

.foodDisplayCompareBtn{
    grid-row: 1;
    grid-column: 4;
}






.nutritionFactsDisplayText{
    margin: .5rem 3rem 0 0;
    font-size: 1rem;
}

p .energy{

}
.carbs{

}
.sugars{

}
.fiber{

}
.protein{
    
}
.totalFats{

}

.fats{

}
.caffeine{

}
.alcohol{

}