.foodDisplayParentDiv{
    height: 80vh;
}

.chartDiv{
    width: 100%;
    height: 100%;
}

.toggleDataBtnsDiv{
    justify-content: space-around;
}

.chartDisplayCol{
    height: 80vh;
}

.chartDiv{
    height: 90%;
}

.nutrientInfoDisplayCol{
    
}