#root {
    padding: none;
    height: 100vh;
    max-height: 100vh;
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.headerRow {
    margin: 2% 1% 2% 1%;
    display: flex;
    align-items: center;
    padding: 10px;
    flex-wrap: nowrap;
    width: 80vw;
    border: 5px solid #ff713d;
    box-shadow: -1px 1px 3px 2px rgba(207, 54, 51, .8);
}

.headerTextDiv {
    width: 60%;
}

.headerSearchbarDiv {
    width: 40%;
}

.headerText {
    font-size: 4rem;
    color: #ff4818;
}

.parentRow {
    width: 100vw;
    height: 100vh;
   
}

.navBtnsCol {
    padding: none;
    margin: none;
}

.navBtnsDiv {
    margin-top: 18vh;
    padding: 20px;
    border: none;
    width: 100%;
    background-color: none;
}

.navBtn {
    text-decoration: none;
    width: 100%;
    color: white;
    background-color: #FF713D;
    margin: 5px;
}


.headerCol {
    width: 100%;
}


.foodCompareListDisplay {
    width: 100%;
    justify-content: flex-end;
    box-sizing: border-box;
    display: inline-flex;
    align-items: end;
    height: 5vh;
}

.comparisonListText{
    font-size: 1.2rem;
    width: 15%;
}

.compareListItem{
    padding: 8px;
    width: 7vw;
    background-color: #00B4C8;
}

.compareFoodsLink{
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
    background-color: #00B4C8;
}