.displaySearchResultsParent {
    padding: none;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 8fr;
    align-items: center;
    justify-content: center;
}

.pageInfo {
    font-size: 1.2rem;
    grid-row: 1;
    grid-column: 1;
    display: block;
}

.pageInfoText{
    display: inline-flex;
}

.bulletpoint{
    font-size: large;
    font-weight: 400;
}

.searchPaginationBar {
    padding: 5px;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: min-content;

}

.resultsContainer {
    grid-row: 3;
    border: 1px solid #ccc;
    overflow-y: auto;
    height: 55vh;
    box-shadow: 1px 2px 4px 1px #ccc;
    background-color: rgba(255, 238, 223, .2);
    margin-top: none;
}

.pageFormDiv{
    display: flex;
    flex-direction: column;
}

.searchbar {
    grid-row: 1;
    height: 50px;
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.searchbarMainDiv {
    grid-row: 1;
    grid-column: 1;
    width: 40vw;
}

.searchSubmit {
    margin: 0 10px 0 10px;
    box-shadow: -1px 1px 3px 2px rgba(207, 54, 51, .5);
}


.pageFormInfoDiv {
    padding: 2px
}

.pageForm {
    font-size: 1.2rem;
    padding: 5px;
    flex-direction: row;
    flex-wrap: nowrap;

}


.pageFormItem {
    margin: 2px;
    display: inline-block;
}

.paginationBtn {}



.pageInput {
    width: 80px;
    margin: 0 5px 0 5px;
    box-shadow: -1px 1px 3px 2px #ccc;

}

.hidden {
    display: none;
}