.searchParentDiv {
    margin: none;
    padding: none;
    box-sizing: border-box;
}

.searchbar {
    height: 50px;
}

.searchbarInput {
    width: 800px;
}

.searchSubmit {
    display: inline-block;
}

.displaySearchResultsParent {
    margin: 3%;
    height: 80%;
    padding: none;
}

.pageInfoCol{
    margin-left: auto;
    margin-right: auto;
}

.pageInfo {
    display: inline-block;
}

.pageFormDiv{
    width: 18vw;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}
.pageForm{
    display: inline-flex;
    width: 40vw;
    align-items: center;
   
}
.pageFormItem{
    margin: 5px;
}

.paginationBtn {
    display: inline-block;

}

.searchInfo {
    margin-left: none;
    padding: 10px;

}

.pageInfo {}

.pageInput {
    width: 150px;
}

.pageInputSubmit {}

.nextPage {
    align-self: end;
}

.prevPage {
    align-self: start;
}

.resultsContainer {
    width: auto;
    height: 65vh;
    border: 1px solid #ccc;
    overflow-y: auto;

}

.searchResultsListGroupItem {}

.searchResultsListHeading {}

.searchResultsListText {}

.searchNoResultsText{

}

.hidden {
    display: none;
}