
body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
}
* {
  color: black;
  margin: 0;
}
p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

main {
  max-width: 1200px;
  margin: 40px auto;
}
