.custom-button {
  background-color: #DD5826;
  color: white;
  border-radius: 10px;
  border: 2px solid #FF713D;
  text-decoration: none;
  width: 90%;
  color: white;
  background-color: #FF713D;
  height: 75px;
  font-size: 1.4rem;
  line-height: .9rem;


  &:hover {
    background-color: #FF7F4F;
    border: 2px solid #FF713D;

  }
}

.customNutrientButton {

  &:hover {}
}

.customPageBtn {
  background-color: #cf3633;
  font-size: 1.1rem;
  border: 2px solid #cf3633;

  &:hover {
    background-color: #ff4818;
    border: 2px solid #ff4818;
  }
}

.customSearchBtn {
  background-color: #DD5826;
  font-size: 1.1rem;
  border: 2px solid #FF713D;

  &:hover {
    background-color: #FF7F4F;
    border: 2px solid #FF713D;
  }
}

.customLink {
  width: 100%;
  background-color: none;
  border: none;
  margin: none;
  padding: none;

}

.customSearchLink {
  text-decoration: none;
  color: black;
  line-height: normal;
  padding: 5px;

  &:hover {
    color: #657886;

  }
}

.customHeading {
  font-size: 1.3rem;
  padding-left: 5px;
}

.customText {
  font-size: 1rem;
  padding-left: 15px;
  padding-bottom: 5px;
}

.customSearchForm {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  margin: none;
  padding: none;
  height: 12px;
  width: 100%;
}

.customInput {
  font-size: 1.1rem;
}

.customSearchButton {
  margin-left: none;
  height: 2.4rem;
  width: 150px;
}

.customDisplayFoodButton {
  background-color: #DD5826;
  color: white;
  border-radius: 10px;
  border: 2px solid #FF713D;
  text-decoration: none;
  width: 10vw;
  color: white;
  background-color: #FF713D;
  height: 4rem;
  font-size: 1.3rem;
  line-height: .9rem;
  margin: 0 3% 0 3%;

  &:hover {
    background-color: #FF7F4F;
    border: 2px solid #FF713D;

  }
}

.customCompareListRemoveBtn {
  display: flex;
  font-size: 1.2rem;
  padding: none;
  margin: none;
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(0.1, 0.1, 0.1, 0.1);
  border: 2px solid rgba(0.1, 0.1, 0.1, 0.1);

  &:hover {
    color: rgba(255, 255, 255, 0.4);
    background-color: rgba(0.1, 0.1, 0.1, 0.2);
    border: 2px solid rgba(0.1, 0.1, 0.1, 0.3);
  }
}