.custom-button {
  background-color: #DD5826;
  color: white;
  border-radius: 10px;
  border: 2px solid #FF713D;
  text-decoration: none;
  width: 100%;
  color: white;
  background-color: #FF713D;
  height: 75px;
  font-size: 1.3rem;
  line-height: .9rem;
  box-shadow: -1px 2px 4px 1px rgba(207, 54, 51, .8);
  font-weight: 400;
  line-height: 90%;
  &:hover {
    background-color: #FF7F4F;
    border: 2px solid #FF713D;

  }
}

.customNutrientButton {
  color: #162935;
  border-color: #162935;
  font-size: 1.2rem;
  margin: 10px 0 10px 0;
  &:hover {
    background-color: rgba(22, 41, 53, .7);
  }
}

.customPageBtn {
  background-color: #cf3633;
  font-size: 1.1rem;
  border: 2px solid #cf3633;
  height: 2.5rem;
  width: auto;

  &:hover {
    background-color: #ff4818;
    border: 2px solid #ff4818;
  }
}

.customSearchBtn {
  background-color: #DD5826;
  font-size: 1.1rem;
  border: 2px solid #FF713D;

  &:hover {
    background-color: #FF7F4F;
    border: 2px solid #FF713D;
  }
}


.customSearchLink {
  text-decoration: none;
  color: black;
  line-height: normal;
  padding: 5px;

  &:hover {
    color: #657886;

  }
}

.customHeading {
  font-size: 1.3rem;
  padding-left: 5px;
}

.customText {
  font-size: 1rem;
  padding-left: 15px;
  padding-bottom: 5px;
}

.customSearchForm {
  margin: none;
  padding: none;
  height: 12px;

}

.customInput {
  font-size: 1.1rem;
  box-shadow: -1px 2px 4px 1px #ccc;
  margin: 0 10px 0 10px;
}

.customSearchButton {
  height: 2.4rem;
  width: 150px;
  box-shadow: -1px 2px 4px 1px rgba(207, 54, 51, .8);
}

.customDisplayFoodButton {
  background-color: #DD5826;
  color: white;
  border-radius: 10px;
  border: 2px solid #FF713D;
  text-decoration: none;
  width: 10vw;
  color: white;
  background-color: #FF713D;
  height: 4rem;
  font-size: 1.3rem;
  line-height: .9rem;
  margin: 0 3% 0 3%;

  &:hover {
    background-color: #FF7F4F;
    border: 2px solid #FF713D;

  }
}

.customCompareListRemoveBtn {
  display: flex;
  font-size: 1.8rem;
  padding: 2px;
  margin: none;
  height: 1.9rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(0.1, 0.1, 0.1, 0.1);
  border: 2px solid rgba(0.1, 0.1, 0.1, 0.1);

  &:hover {
    color: rgba(255, 255, 255, 0.4);
    background-color: rgba(0.1, 0.1, 0.1, 0.2);
    border: 2px solid rgba(0.1, 0.1, 0.1, 0.3);
  }
}

.customRoot{
  height: 100vh;
}