.custom-button {
  background-color: #DD5826;
  color: white;
  border-radius: 10px;
  border: 2px solid #FF713D;
  text-decoration: none;
  width: 100%;
  color: white;
  background-color: #FF713D;
  height: 80px;
  font-size: 1.2rem;
  line-height: .9rem;


  &:hover {
    background-color: #FF7F4F;
    border: 2px solid #FF713D;

  }
}

.customNutrientButton{
  
  &:hover{

  }
}

.customLink {
  width: 100%;
  background-color: none;
  border: none;
  margin: none;
  padding: none;

}

.customSearchLink {
  text-decoration: none;
  color: black;
  line-height: normal;
  padding: 5px;

  &:hover {
    color: white;
    border: 2px solid #FF713D;

  }
}

.customHeading {
  font-size: 1rem;
  padding-left: 5px;
}

.customText {
  font-size: .8rem;
  padding-left: 15px;
  padding-bottom: 5px;
}

.customSearchForm {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  margin: none;
  padding: none;
  height: 12px;
  width: 100%;
}

.customInput {
  font-size: 1.1rem;
}

.customSearchButton {
  margin-left: none;
  height: 2.4rem;
  width: 150px;
}

.customDisplayFoodButton{
  background-color: #DD5826;
  color: white;
  border-radius: 10px;
  border: 2px solid #FF713D;
  text-decoration: none;
  width: 70%;
  color: white;
  background-color: #FF713D;
  height: 80px;
  font-size: 1.2rem;
  line-height: .9rem;


  &:hover {
    background-color: #FF7F4F;
    border: 2px solid #FF713D;

  }
}

.customCompareListRemoveBtn{
  display: flex;
  font-size: 1.2rem;
  padding: none;
  margin: none;
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;

}